Source: tcscript
Maintainer: Philipp Meisberger <team@pm-codeworks.de>
Section: shells
Priority: optional
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), bash-completion
Vcs-Git: https://github.com/philippmeisberger/tcscript.git

Package: tcscript
Depends: bash-completion, ${misc:Depends}
Recommends: truecrypt, zenity
Architecture: all
Homepage: http://www.pm-codeworks.de/tcscript.html
Description: TrueCrypt mounting and dismounting shell script
 This script simplifies the mounting and dismounting routine of a TrueCrypt volume. 
 .
 Note: TrueCrypt has to be installed to use this package!
 .
 It is recommend to use a keyfile for the decryption of the volume. Then this keyfile can be on a external SD card (token). The script can be used e.g. to mount a TrueCrypt volume while booting.
